.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 50px;
}

.clock-face {
  font-size: 60px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  margin-left: 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3d84b8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #344fa1;
}

.button:active {
  background-color: #344fa1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
